<style>
    .ncap-form-default dt.tit{
        width: 110px !important;
    }
</style>
{include file="header.htm" /}
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<div id="toolTipLayer"
     style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">

    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{if condition="'Payjs' == $Request.param.sc && 'index' ==
            $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Payjs/Payjs/index")}{/if}" title="返回列表"><i
                    class="fa fa-chevron-left"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                    <a href="{:weapp_url("Payjs/Payjs/index")}" class="tab"><span>订单列表</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="tab current"><span>订单详情</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="ncap-form-default">
        <dl class="row">
            <dt class="tit">
                <label>订单类型</label>
            </dt>
            <dd class="opt">
                {$row.type|getPayChannelName}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>订单号</label>
            </dt>
            <dd class="opt">
                {$row.out_trade_no}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>订单标题</label>
            </dt>
            <dd class="opt">
                {$row.subject}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>Payjs平台订单号</label>
            </dt>
            <dd class="opt">
                {$row.outer_tid}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>支付流水号</label>
            </dt>
            <dd class="opt">
                {$row.transaction_tid}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>订单金额</label>
            </dt>
            <dd class="opt">
                {$row.total_fee}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>订单状态</label>
            </dt>
            <dd class="opt">
                {$row.status|getPayStatus}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>支付时间</label>
            </dt>
            <dd class="opt">
                {$row.pay_at}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>支付者信息</label>
            </dt>
            <dd class="opt">
                {$row.buyer_info}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>创建时间</label>
            </dt>
            <dd class="opt">
                {$row.created_at}
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label>更新时间</label>
            </dt>
            <dd class="opt">
                {$row.updated_at}
            </dd>
        </dl>
    </div>
</div>
{include file="footer.htm" /}